@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
/* Reset Begins */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Reset Ends */
body{
    font-family: 'Sora', sans-serif;
    background: rgba(244,247,255,1.0);
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #303031 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #303031;
    border-radius: 5px;
    border: 3px solid #ffffff;
  }
header{
    padding: 16px 24px;
    border-bottom:1px solid rgba(78, 90, 133, 0.2) ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}
#logolight{
    display: block;
}
#logodark{
    display: none;
}
ul li{
    list-style: none;
}
ul li button{
    font-family: 'Sora', sans-serif;
    padding: 16px 24px;
    background-color: rgba(152,166,199,1.0);
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}
.sec-2{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 50px 200px;
    /* margin-bottom: 50px; */
}
.sec-2-head{
    width: 60%;
    font-weight: 700;
    font-size: 50px;
}
.sec-2-con{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec-2-con p{
    font-size: 22px;
    color: rgba(126,139,182,1.0);
    margin: 0 0 25px 0;
}
.sec-2-con button{
    width: 188px;
    font-size: 16px;
    background-color: #0059F7;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 16px 24px;
}
.dash{
    width: 65%;
    margin: 0 0 40px 0;
}
.border-bottom{
    width: 75%;
    height: 1px;
    margin: 0px auto;
    border-bottom:1px solid rgba(78, 90, 133, 0.2) !important ;
}
.features{
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
}
.features-con{
    width: 40%;
}
.features-head{
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 25px;
}
.features-con p{
    font-size: 20px;
    font-weight: 400px;
    color: rgba(126,139,182,1.0);
    margin-bottom: 40px;
}
.feature-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blocks{
    display: flex;
    flex-direction: column;
    width: 48%;
    border: 2px solid rgba(204, 210, 233, 0.5);
    border-radius: 16px;
    padding: 38px 36px;
    margin-bottom: 40px;
}
.blocks-title{
    font-weight: 600;
    font-size: 24px;
    margin: 20px 0 ;
    
}
.blocks:hover{
    background-color: #fff;
    -webkit-box-shadow: 10px 18px 71px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 18px 71px -40px rgba(0,0,0,0.75);
    box-shadow: 10px 18px 71px -40px rgba(0,0,0,0.75);
    cursor: pointer;
    border:2px solid #0059F7 ;
    transition: 0.5s;
    
}
.trial{
    display: flex;
    justify-content: space-between;
    background: rgba(0,89,247,1.0);
    padding: 30px 56px;
    margin: 0px 190px 50px 190px;
    border-radius: 24px;
    align-items: center;
}
.trial-small{
    color: rgba(255,255,255,0.5);
    font-size: 14px;
}
.trial-head{
    color: white;
    font-weight: 600;
    font-size: 24px;
}
.trial button{
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
    background-color: #689EFF;
    color: #fff;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #162044;
    padding: 30px 100px;
    color: #fff;
}
.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials a{
    margin: 0 10px;
}
.terms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.terms p{
    margin: 0 10px;
}

/* Extra small devices (phones, 600px and down) */

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    header{
        padding: 0;
    }
    nav{
        padding: 20px;
    }
    .sec-2{
        padding: 50px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }
    .sec-2-head{
        font-size: 50px;
        margin-bottom: 20px;
        width: 90%;
    }
    .sec-2-con{
        align-items: center;
    }
    .dash{
        width: 100%;
        padding: 0 10px;
        
    }
    .companies{
        padding: 0;
        padding: 50px;
        /* flex-direction: column;*/
        flex-direction: row;
        align-items: center;
    }
    
    .companies svg{
        margin:25px 0;
    }
    .border-bottom{
        margin-bottom: 30px;
    }
    .features{
        padding: 0;
        padding: 20px;
        align-items: center;
    }
    .features-con{
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .features-head{
        font-size: 40px;
    }
    .feature-blocks{
        flex-direction: column;
    }
    .blocks{
        width: 100%;
    }
    .trial{
        margin: 0;
        padding: 0px;
        padding: 20px;
        margin: 0 20px 30px 20px;
        border-radius: 5px;

    }
    .trial-head{
        padding: 0;       
    }
    footer{
        margin: 0;
        padding: 0;
        padding: 50px;
        align-items: center;
    }
    .socials{
        padding: 0;
        margin: 0;
    }
    .socials a{
        margin: 5px;
    }
    .terms{
        padding: 0;
        margin: 0;
        flex-direction: row;
    }
    .copyright{
        padding: 0;
        margin: 0;
    }

  }
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1024px) {
    header{
        padding: 0;
    }
    nav{
        padding: 20px;
    }
    .sec-2{
        padding: 30px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }
    .sec-2-head{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .sec-2-con{
        align-items: center;
    }
    .dash{
        width: 100%;
        margin-top: 10px;
        padding: 0 10px;
        
    }
    .border-bottom{
        margin-bottom: 30px;
    }
    .features{
        padding: 0;
        padding: 0 20px 20px 20px;
        align-items: center;
    }
    .features-con{
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .features-head{
        font-size: 40px;
    }
    .feature-blocks{
        flex-direction: column;
    }
    .blocks{
        width: 100%;
    }
    .trial{
        margin: 0;
        padding: 0px;
        padding: 20px;
        margin: 0 20px 30px 20px;
        border-radius: 5px;

    }
    .trial-head{
        padding: 0;       
    }
    footer{
        margin: 0;
        padding: 0;
        padding: 50px;
        align-items: center;
        flex-direction: column;
    }
    .socials{
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }
    .socials a{
        margin-right: 5px;
    }
    .terms{
        padding: 0;
        margin: 0;
        flex-direction: row;
        margin-bottom: 10px;
        align-items: center;
        flex-direction: column;
    }
    .copyright{
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }
  } 
  @media (prefers-color-scheme:dark){
    #logolight{
        display: none;
    }
    #logodark{
        display: block;
    }
    body{
        background: #070E27;
        color: #fff;
    }
    ul li button{
        background-color: #162044;
    }
    .border-bottom{
        width: 75%;
        height: 1px;
        margin: 0px auto;
        border-bottom: 1px solid rgba(78,90,133,0.2); 
    }
    .blocks{
        border: 2px solid #162044;
    }
    .blocks:hover{
        background-color: #070E27;
        box-shadow: 10px 18px 71px -40px rgba(255, 255, 255, 0.75);
    }
}
